<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-back-button [routeLink]="'/'" [textDisplay]="'Back to Home'"></app-back-button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="searchForMovie">Look for Movie:</label>
            <input type="text" class="form-control" id="searchForMovie" aria-describedby="searchForMovie" [ngModel]="movieSearch" (ngModelChange)="searchForMovie($event)" placeholder="Search Movie Database">
        </div>
    </div>
    @if (movieFromSearch) {
        <div class="row">
            <div class="col-md-12">
                <h5>{{ movieFromSearch.Title }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left media-top">
                        <img [src]="movieFromSearch.Poster" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ movieFromSearch.Title }}</h4>
                        <p>{{ movieFromSearch.Plot }}</p>
                    </div>
                </div>
            </div>
        </div>
    } @else {
        <div>Search</div>
    }
    <form [formGroup]="movieForm" (submit)="submitMovie()">
        <div class="row">
            <div class="col-md-4">
                <label for="movieTitle">Movie Title:</label>
                <input type="text" class="form-control" id="movieTitle" aria-describedby="movies" formControlName="movieTitle" placeholder="Enter name">
            </div>
            <div class="col-md-4">
                <label for="movieTitle">Genre:</label>
                <input type="text" class="form-control" id="movieGenre" aria-describedby="genre" formControlName="genre" placeholder="Genre">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="image">Poster:</label>
                <input type="text" class="form-control" id="image" aria-describedby="image" formControlName="movieImage" placeholder="Poster">
            </div>
            <div class="col-md-4">
                <label for="director">Director:</label>
                <input type="text" class="form-control" id="director" aria-describedby="director" formControlName="director" placeholder="Director">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="movieTitle">Description:</label>
                <textarea rows="5" class="form-control" id="description" aria-describedby="description" formControlName="description" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary">Create Movie</button>
            </div>
        </div>
    </form>
    @if (movieAdded) {
        <div class="alert alert-success">
            <strong>Success!</strong> Movie added
        </div>
    }     
</div>
