<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-back-button [routeLink]="'/'" [textDisplay]="'Back to Home'"></app-back-button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h2>{{ movie?.name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img class="movie-poster" rel="preconnect" [src]="movie?.image" alt="Card image cap">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="movieTitle">Movie Title:</label>
            <input type="text" class="form-control" id="movieTitle" aria-describedby="movies" [disabled]="true" [ngModel]="movie?.name" placeholder="Enter name">
        </div>
        <div class="col-md-4">
            <label for="movieTitle">Genre:</label>
            <input type="text" class="form-control" id="movieGenre" aria-describedby="genre" [ngModel]="movie?.genre" placeholder="Genre">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="movieTitle">Description:</label>
            <textarea rows="5" class="form-control" id="description" aria-describedby="description" [ngModel]="movie?.longDesc" placeholder="Description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn btn-primary pull-left">Update Movie</a>
        </div>
    </div>
</div>

